<head>
<title>Informed Web Portal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand mb-0 h1" href="/">Informed Web Portal</a>
</nav>

<!-- Body -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Candidate <a class="btn btn-sm btn-primary" href="{% url 'candidates:create_candidate' %}" role="button">Add candidate</a></th>
    </tr>
  </thead>
  <tbody>
    {% for candidate in candidates %}
    <tr>
        <td scope="row">
          <a href="{% url 'candidates:edit_candidate' candidate.id %}">{{ candidate.first }} {{ candidate.last }}</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
